@use 'constants/colors' as c;

.oauthButton {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
  width: var(--width);
  height: var(--height);
  color: c.$COLOR_BLACK;
  cursor: pointer;
  border-radius: 4px;
}

// .icon {
//   position: absolute;

// }

.medium {
  width: 280px;
  height: 50px;
}

.small {
  width: 202px;
  height: 50px;
}

.big {
  width: 499px;
  height: 50px;
}

.kakao {
  background: rgb(255 230 0 / 100%);
}

.naver {
  color: c.$COLOR_WHITE;
  background: rgb(0 199 60 / 100%);
}

.google {
  background: c.$COLOR_WHITE;
  border: 1px solid rgb(131 138 154 / 100%);
}
