$COLOR_MAIN_0: #ccd5ae;
$COLOR_MAIN_1: #e9edc9;
$COLOR_MAIN_2: #fefae0;
$COLOR_MAIN_3: #faedcd;
$COLOR_MAIN_4: #d4a373;
$COLOR_BLACK: #000;
$COLOR_GRAY_90: #1a1a1a;
$COLOR_GRAY_80: #333;
$COLOR_GRAY_70: #4d4d4d;
$COLOR_GRAY_60: #666;
$COLOR_GRAY_50: #808080;
$COLOR_GRAY_40: #999;
$COLOR_GRAY_30: #b3b3b3;
$COLOR_GRAY_20: #ccc;
$COLOR_GRAY_10: #e6e6e6;
$COLOR_WHITE: #fff;
